<article class="page-content blog-post-content">
  <header class="blog-post-header">
    <a class="blog-back" href="/blog.html">&#x2190; Blog</a>
    <h1>{{POST_H1}}</h1>
    <div class="blog-post-meta">
      <span class="blog-post-date">{{POST_DATE}}</span>
      <a class="game-info-tag" href="/category/{{POST_CATEGORY_SLUG}}">{{POST_CATEGORY_NAME}}</a>
    </div>
  </header>
  <div class="blog-post-body">
    {{POST_BODY}}
  </div>
  <div class="blog-post-footer">
    <a class="btn btn-primary" href="/category/{{POST_CATEGORY_SLUG}}">Browse {{POST_CATEGORY_NAME}} &#x2192;</a>
  </div>
</article>
